#Ignoramos el caché de las ejecuciones
__pycache__/

#No volvemos a subir el venv por pesar demasiado y no ser realmente relevante
venv/

#Tampoco subimos el archivo de configuración local del VS Code
.vscode/

############BORRAR!!!!!!!!!!!!###########################3
#No subimos la carpeta experimental de ejemplo
EjemploMesa/